[submodule "JSSoft.Communication"]
	path = JSSoft.Communication
	url = https://github.com/s2quake/JSSoft.Communication.git
[submodule "JSSoft.Library"]
	path = JSSoft.Library
	url = ../../s2quake/JSSoft.Library.git
[submodule "JSSoft.Library.Commands"]
	path = JSSoft.Library.Commands
	url = ../../s2quake/JSSoft.Library.Commands.git
[submodule "JSSoft.ModernUI.Framework"]
	path = JSSoft.ModernUI.Framework
	url = ../../s2quake/JSSoft.ModernUI.Framework.git
[submodule "JSSoft.Crema"]
	path = JSSoft.Crema
	url = ../../s2quake/JSSoft.Crema.git
